
/*BASE ELEMENT STYLES*/

html,
body {
  height: 100%;
}

body {
  font-family:'Roboto', sans-serif;
  font-weight: 200;
  color:#F79B2E;
  background-color: white;
  line-height: 1.7em;
  letter-spacing: 2px;
}


/********************************************************************************
 * KEEP IN MIND: THIS STYLE SHEET IS USED FOR ALL OF THE HTML FILES *
 ********************************************************************************/


@import url('https://fonts.googleapis.com/css?family=Roboto');

/**** WHOLE PAGE ****/

/* TOP HEADER STYLING */
/*.top {*/
/*    position:absolute;*/
 /*   left:0; right:0;
    height: 92px;
}*/



/* TOP HEADER STYLING */
.header {
    border: 3px #E1358D solid;
    margin: 15px 15px 30px 35px;
    text-align: center;
    color: #F87AB8;
    font-family: 'Roboto';
    background-color: #EFEFEF;
    letter-spacing: 6px;
    margin-left: 2%;

}
.header h1 {
  text-align: center;

}

/*** NAVIGATION BAR ***/


/* LEFT SIDE BAR STYLING*/
.left {
    float: left;
    border: 5px #F79B2E solid;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
    font-weight: 700;
    position:absolute;
    left:1%; top:92px; bottom: 0;
    width: 245px;
    background-color: #EFEFEF;
}

.left ul {
	list-style: none;
}

.left ul li {
	margin: 0% 0% 30% 0;
}
/* links are #39B1C6 */
.left a {
  text-decoration: none;
  color: #39B1C6;
}
/* links are #E1358D when hover and have blue border */
.left a:hover {
  color: #E1358D;
  border: 2px solid #39B1c6;
}



/* MAIN CONTENT (RIGHT SIDE) STYLING */
.main {
  float: left;
  border: 5px solid #39B1C6;
  margin-left: 5%;
  position: absolute;
  left:245px; top:92px; right:0; bottom:0;
  background-color: #EFEFEF;
}

.marginMain{
  margin-left: 15%;
  margin-right: 15%;
}

.main h3{
	text-align: center;
}

.card {
  border: 1px solid black;
  float: left;
  width: 40%;
/*  margin-left: 2%;
  margin-right: 2%;*/
  margin: 5% 4% 5% 4%;
  height: 250px;
}

.img {
  width: 100%;
}
/*img {
  position: relative;
  margin: 0 35% 0 35%;
}*/
.description {
  font-size: auto;
  color: #E1358D;
}

.cardHeader {
  text-align: center;
}


/* LOGO IN FOOTER */
.logo {
  width: 200px;
  height: 200px;
  margin: 0 5px;
  text-align: center;
}

/* footer */
.footer {
    text-align: center;
    margin-top: 100%;
    margin-left: 6%;
    clear: both;
}

/********************************************************************************
 * END OF GENERIC HTML
 *******************************************************************************/

/********************************************************************************
* THIS IS FOR THE ABOUT PAGE
**********************************************************************************/



/* heading is #E1358D */
.marginMain h3,
h4 {
  color: #E1358D;
}
/* centers 'a little about ourselves:' */
.marginMain h4 {
  text-align: center;
}




/*********************************************************************************
*LINKS IN CONTACT PAGE
**********************************************************************************/

.contactUsHeader{
  margin-bottom: 1%;
}
.contactInfo li.linkedin a {
  background-image: url('img/linkedin.png');
  margin: 0;
}

.contactInfo li.mail a {
  background-image: url('img/mail.png');
  margin: 0;
}
.contactInfo li.github a {
  background-image: url('img/github.png');
  margin: 0;
}
.contactInfo {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
.contactInfo a {
  display: block;
  min-height: 20px;
  margin-bottom: 2%;

}

.contactName{
  font-family: "Roboto";
  color: #39B1C6;
  text-decoration: underline;
  margin-top: .5%;
  /* no space between links and names */
  margin-bottom: 0; 
}

.contactPerson ul {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 4%;
}

/* links are #F87AB8 color */
.contactPerson a {
  text-decoration: none;
  color: #F87AB8;
}
/* links turn #F79B2E when hover over */
.contactPerson a:hover {
  color: #F79B2E;
}






/******************************/
/***** FLAVOR PAGE (Will) *****/
/******************************/

.mainFlavorContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-top: 2%;
  background-color: white;
}

.flexItem{
  border-style: solid;
}

.flavor{
  margin: 1%;
  width: 30%;
  font-size: .85em;
  bottom: 0;
}

.flavorImageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flavorImageContainer img{
  max-height: 125px;
  max-width: 125px;
  min-height: 25px;
  min-width: 25px;
}


.flavorDetails{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: 5%;

}


.flavorDetails h5{
  font-size: 1em;
  text-decoration: underline;
}

.flavorDetails p{
  margin-top: .5%;
}