/********************************************************************************
 * KEEP IN MIND: THIS STYLE SHEET IS USED FOR ALL OF THE HTML FILES *
 ********************************************************************************/


@import url('https://fonts.googleapis.com/css?family=Roboto');

/**** WHOLE PAGE ****/

html, body {
  height: 100%;
  min-height: 100%;
  font-family: "Roboto";
}



/* TOP HEADER STYLING */
.header {
    border: 2px orange solid;
    margin: 15px 15px 30px 15px;
    text-align: center;
    color: #45997A;
    font-family: "Roboto";
    background-color: #DBFFD9;
}
.header h1 {
  text-align: center;
}

/*** NAVIGATION BAR ***/


/* LEFT SIDE BAR STYLING*/
.left {
    float: left;
    background-color: #bfbfbf;
    border: 5px black solid;
    margin-left: 2%;
    font-weight: 700;
}

.left ul {
	list-style: none;

}

.left ul li {
	color: yellow;
	margin: 40% 5% 40% 0;
}


/* MAIN CONTENT (RIGHT SIDE) STYLING */
.main {
  float: left;
  border: 5px solid black;
  width: 74%;
  margin-left: 2%;
}

.main h3{
	text-align: center;
}

.card {
  border: 1px solid black;
  float: left;
  width: 30%;
  margin: 0 1% 0 1%;
  margin-top: 2.5%;
  margin-bottom: 5%;
  padding: 0 2px 0 2px;
  height: 250px;
}

.img {
  width: 100%;
}
img {
  position: relative;
  margin: 0 35% 0 35%;
}
.description {
  font-size: auto;
  color: green;
}

.cardHeader {
  text-align: center;
}


/* LOGO IN FOOTER */
.logo {
  width: 200px;
  height: 200px;
  margin: 0 5px;
  text-align: center;
}

/* footer */
.footer {
    text-align: center;
    margin-top: 15%;

}

/********************************************************************************
 * END OF GENERIC HTML
 *******************************************************************************/

/********************************************************************************
* THIS IS FOR THE ABOUT PAGE
**********************************************************************************/


/*********************************************************************************
*LINKS IN CONTACT PAGE
**********************************************************************************/

.contactInfo li.linkedin a {
  background-image: url('img/linkedin.png');
}

.contactInfo li.mail a {
  background-image: url('img/mail.png');
}
.contactInfo li.github a {
  background-image: url('img/github.png');
}
.contactInfo {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
.contactInfo a {
  display: block;
  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px;
}
