
/*BASE ELEMENT STYLES*/

html,
body {
  height: 100%;
}

body {
  font-family:'Roboto', sans-serif;
  font-weight: 200;
  color:gray;
  background-color: white;
  line-height: 1.7em;
  letter-spacing: 2px;
}


/********************************************************************************
 * KEEP IN MIND: THIS STYLE SHEET IS USED FOR ALL OF THE HTML FILES *
 ********************************************************************************/


@import url('https://fonts.googleapis.com/css?family=Roboto');

/**** WHOLE PAGE ****/

/* TOP HEADER STYLING */
.top {
/*    position:absolute;*/
    left:0; right:0;
    height: 92px;
}



/* TOP HEADER STYLING */
.header {
    border: 2px orange solid;
    margin: 15px 15px 30px 15px;
    text-align: center;
    color: #45997A;
    font-family: "Roboto";
    background-color: #DBFFD9;
}
.header h1 {
  text-align: center;
}

/*** NAVIGATION BAR ***/


/* LEFT SIDE BAR STYLING*/
.left {
    float: left;
    background-color: #bfbfbf;
    border: 5px black solid;
    margin-left: 2%;
    margin-right: 2%;
    font-weight: 700;
    position:absolute;
    left:1%; top:92px; bottom: 0;
    width: 245px;
    background-color: lightblue;
}

.left ul {
	list-style: none;

}

.left ul li {
	color: yellow;
	margin: 30% 0% 30% 0;
}


/* MAIN CONTENT (RIGHT SIDE) STYLING */
.main {
  float: left;
  border: 5px solid green;
  margin-left: 5%;
    position: absolute;
    left:245px; top:92px; right:0; bottom:0;
    background-color: lightgreen;
}

.marginMain{
  margin-left: 15%;
  margin-right: 15%;
}

.main h3{
	text-align: center;
}

.card {
  border: 1px solid black;
  float: left;
  width: 40%;
/*  margin-left: 2%;
  margin-right: 2%;*/
  margin: 5% 4% 5% 4%;
  height: 250px;
}

.img {
/*  width: 100%;*/
}
/*img {
  position: relative;
  margin: 0 35% 0 35%;
}*/
.description {
  font-size: auto;
  color: green;
}

.cardHeader {
  text-align: center;
}


/* LOGO IN FOOTER AND AWARDS*/
.logo {
  width: 200px;
  height: 200px;
  margin: 0 50% 0 50%;
}

.awardsImageContainer{
  width: 100%;
}

/* footer */
.footer {
    text-align: center;
    margin-top: 50%;
    margin-left: 6%;
}

/********************************************************************************
 * END OF GENERIC HTML
 *******************************************************************************/

/********************************************************************************
* THIS IS FOR THE ABOUT PAGE
**********************************************************************************/


/*********************************************************************************
*LINKS IN CONTACT PAGE
**********************************************************************************/

.contactUsHeader{
  margin-bottom: 1%;
}
.contactInfo li.linkedin a {
  background-image: url('img/linkedin.png');
  margin: 0;
}

.contactInfo li.mail a {
  background-image: url('img/mail.png');
  margin: 0;
}
.contactInfo li.github a {
  background-image: url('img/github.png');
  margin: 0;
}
.contactInfo {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.9em;
}
.contactInfo a {
  display: block;
  min-height: 20px;
  margin-bottom: 2%;

}

.contactName{
  font-family: "Roboto";
  color: black;
  margin-top: .5%;
}

.contactPerson{
  border-style: solid;
  border-radius: 20px 20px 20px 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 4%;
}









/******************************/
/***** FLAVOR PAGE (Will) *****/
/******************************/

.mainFlavorContent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 3%;
}

.flexItem{
  border-style: solid;
}

.flavor{
  margin: 1%;
  width: 30%;
  font-size: .85em;
  bottom: 0;
}

.flavorImageContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flavorImageContainer img{
  max-height: 125px;
  max-width: 125px;
  min-height: 25px;
  min-width: 25px;
}


.flavorDetails{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
